html body {
    margin: 0;
    padding: 0;
}

#grid {
    width: 30%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    left: 50%;
    border-left: 1px solid black;
    border-top:  1px solid black;
}

#grid div {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.black {
    background-color: black;
}